@font-face {
    font-family: "Accid";
    font-weight:400;
    src: local("Accid"), 
    url(../fonts/accid.ttf) format("truetype");
    /* url(../fonts/Cakra.woff) format("woff"), 
    url(../fonts/Cakra.woff2) format("woff2"); */
    font-display: swap;
  }

  @font-face {
    font-family: "Cakra";
    font-weight:400;
    src: local("Cakra"), 
    url(../fonts/Cakra.ttf) format("truetype"), 
    url(../fonts/Cakra.woff) format("woff"), 
    url(../fonts/Cakra.woff2) format("woff2");
    font-display: swap;
  }


  @font-face {
    font-family: "Cera";
    font-weight:300;
    src: local("Proxima Nova"), 
    url(../fonts/CeraProLight.ttf) format("truetype"), 
    url(../fonts/CeraProLight.woff) format("woff"), 
    url(../fonts/CeraProLight.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Cera";
    font-weight:400;
    src: local("Cera"), 
    url(../fonts/CeraProRegular.ttf) format("truetype"), 
    url(../fonts/CeraProRegular.woff) format("woff"), 
    url(../fonts/CeraProRegular.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Cera";
    font-weight:500;
    src: local("Cera"), 
    url(../fonts/CeraProMedium.ttf) format("truetype"), 
    url(../fonts/CeraProMedium.woff) format("woff"), 
    url(../fonts/CeraProMedium.woff2) format("woff2");
    font-display: swap;
  }


  @font-face {
    font-family: "Cera";
    font-weight:700;
    src: local("Cera"), 
    url(../fonts/CeraProBold.ttf) format("truetype"), 
    url(../fonts/CeraProBold.woff) format("woff"), 
    url(../fonts/CeraProBold.woff2) format("woff2");
    font-display: swap;
  }
